@font-face {
  font-family: 'Anton Regular';
  src: url('Anton-Regular.ttf')  format('truetype');
}

html, body {
    font-size: 81.25%;
    margin: 0;
    padding: 0;
}

 .video-landing {
  position: relative;
  z-index: -100;
  overflow: hidden;
  height: 150vh;
}

video {
  position: absolute;
}

.logo .kurosio {
  width: 30vw;
  position: relative;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.logo h5 {
  font-family: 'Anton Regular';
  text-transform: uppercase;
  color: #BFBFBF;
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  display: block;
  position: relative;
}

.menu {
  position: fixed;
  cursor: pointer;
  font-size: 23px;
  display: block;
  left: 95px;
  top: 65px;
  height: 30px;
  z-index: 100;
  color: #fff;
  opacity: 1;
  padding-top: 5px;
}
.menu span {
  background: #fff;
  display: block;
  width: 30px;
  height: 3px;
  transition: transform 0.2s ease;
}
.menu .top, .menu .meat {
  margin-bottom: 4px;
}
.menu:hover .top {
  transform: translateY(-4px);
}
.menu:hover .bottom {
  transform: translateY(4px);
}
