html, body {
    min-width: 1150px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

 .intro{
   position: relative;
   overflow: hidden;
   width: 100%;
}

.intro-background {
   position: absolute;
   background: url(ws_Underwater_Shot_2560x1600.jpg) no-repeat;
   background-size: cover;
   width: 100%;
   height: 140%;
}
.logo h1 {
  font-family: 'Plak Black Extra Condensed';
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  letter-spacing: 4px;
  margin-bottom: 30px;
  line-height: 113px;
  font-size: 120px;
  margin: 250px;
  margin-bottom: 0;
  display: block;
  text-align: center;
}
.logo h5 {
  font-family: 'Plak Black Extra Condensed';
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  display: block;
}
.intro img {
  opacity: 1;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -61px;
  bottom: 120px;
}
.menu {
  position: fixed;
  cursor: pointer;
  font-size: 23px;
  display: block;
  left: 95px;
  top: 65px;
  height: 30px;
  z-index: 100;
  color: #fff;
  opacity: 1;
  padding-top: 5px;
}
.menu span {
  background: #fff;
  display: block;
  width: 30px;
  height: 3px;
}
.menu .top, .menu .meat {
  margin-bottom: 4px;
}
.transperent-shadow {
  position: absolute;
    bottom: 0px;
    top: 120%;
    display: block;
    height: 150px;
    width: 100%;
    left: 0px;
    background-color: #03060b;
    opacity: 0.7;
}
.shadow {
    position: absolute;
    bottom: 0px;
    top: 130%;
    display: block;
    height: 400px;
    width: 100%;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.98);
  }
.first {
    position: absolute;
    top: 180%;
    height: 1220px;
    width: 1380px;
    background-color: black;
    background-image: url(background-stars.png);
    background-position: right;
}
.first .aquatilis {
    text-align: center;
    padding-top: 90px;
}
.shadow h1 {
  display: block;
  font-family: 'Plak Black Extra Condensed';
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 100px;
  font-size: 70px;
  margin-top: 100px;
  color: white;
  letter-spacing: -4px;
  text-align: center;
}
.shadow p {
  text-align: center;
  font-family: "proxima-nova";
  position: relative;
  line-height: 25px;
  max-width: 655px;
  font-size: 20px;
  color: #97b4ca;
  margin: auto;
  z-index: 100;
  margin-top: 50px;
  margin-bottom: 35px;
  font-weight: 300;
}
.chapter1 h1, .chapter2 h1 {
  display: block;
  font-family: 'Plak Black Extra Condensed';
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-size: 70px;
  text-indent: 5px;
  margin-left: 190px;
  margin-top: 330px;
  color: white;
}
.chapter1 p {
  text-align: left;
  font-family: "proxima-nova";
  position: relative;
  line-height: 25px;
  max-width: 655px;
  font-size: 20px;
  color: #97b4ca;
  margin: auto;
  z-index: 100;
  margin-top: 40px;
  margin-left: 190px;
  font-weight: 300;
}
 .first img {
  float: right;
  margin-top: 180px;
  opacity: 0.8;
}
.second {
  overflow: visible !important;
  position: absolute;
  height: 920px;
  width: 1380px;
  top: 350%;
  background-color: black;
  background-image: url(background-stars.png);
  background-position: center;
}
.second .chapter2 {
    padding-top: 0;
    width: 1370px;
    height: 500px;
}
.wrapper h1 {
  display: block;
  font-family: 'Plak Black Extra Condensed';
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: -2px;
  margin-top: 50px;
  margin-left: 8px;
  font-size: 70px;
  text-indent: 10px;
  text-align: center;
  color: white;
}
.wrapper p {
  text-align: center;
  font-family: "proxima-nova";
  position: relative;
  line-height: 25px;
  max-width: 655px;
  font-size: 20px;
  margin-left: 350px;
  color: white;
  z-index: 100;
  font-weight: 300;
}
div.chapter2.skrollable.skrollable-between {
  background: url(324831858430_54030590c2_b.png) no-repeat;
  background-size: cover;
  margin-top: 50px;
}

